@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor--primaria: #00030C;
    --cor--secundaria: #167BF7;
    --cor--terciaria: #FFFFFF;
    --fonte--primaria: 'Inter', sans-serif;
}

body {
    background-color: var(--cor--primaria);
    color: var(--cor--terciaria);
    font-family: var(--fonte--primaria);
    font-size: 1rem;
    font-weight: 400px;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;  
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteudo {
    background-image: url(/img/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
    align-items: center;
    text-align: center;     
}

.conteudo__apresentacao {
    display: flex;
    flex-direction: column;
    margin: 0em 6em;
}

.conteudo__apresentacao__titulo {
    font-family: var(--fonte--primaria);
    font-weight: 700;
    font-size: 1.75rem;
}

.conteudo__imagem {
    margin: 1em auto 2em auto; 
    width: 50%;
    height: auto; 
}


.conteudo__apresentacao__titulo__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; 
}

.conteudo__apresentacao__titulo__botoes__botaoprincipal {
    background-color: var(--cor--secundaria);
    color: var(--cor--terciaria);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fonte--primaria);
    border: 2px;
    border-radius: 8px;
    padding: 1em;
    width: 80%;
    justify-content: center;
}

.conteudo__apresentacao__titulo__botoes__botaoprincipal:hover {
    background-color: var(--cor--terciaria);
    transition: 0.5s;
    color: var(--cor--secundaria);
}

.conteudo__apresentacao__titulo__botoes__botaosecundario {
    background-color: transparent;
    color: var(--cor--terciaria);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fonte--primaria);
    border: 0.5px solid var(--cor--terciaria);
    border-radius: 8px;
    padding: 1em;
    width: 80%;
} 

.conteudo__apresentacao__titulo__botoes__botaosecundario:hover {
    transition: 0.5s;
    background-color: #27282b;
} 

.conteudo__apresentacao__aviso {
    font-family: var(--fonte--primaria);
    color: var(--cor--terciaria);
    font-size: 0.75rem;
}

.segundo__conteudo {
    display: flex;
    align-items: center;
    margin: 0 10em;
}

.segundo__conteudo__imagem {
    width: 80%;
}
